.order h1 {
	font-family: var(--font-nunito-sans);
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.01em;
	margin-bottom: 48px;
	text-align: center;
}

.order h2 {
	font-family: var(--font-nunito-sans);
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.01em;
	text-align: center;
	margin-bottom: 16px;
}

.blocks {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

@media screen and (min-width: 1440px) {
	.blocks {
		flex-direction: row;
	}
	.orders,
	.form {
		width: 640px;
	}
	.form {
		height: 632px;
		overflow-y: auto;
	}
}
