.auth {
	padding: 131px 0;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.form h1 {
	font-family: var(--font-nunito-sans);
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.01em;
	margin: 32px auto;
}

.form label {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.form input {
	width: 100%;
	height: 48px;
	padding: 0 8px;
	font-size: 16px;
	line-height: 1.5;
}

.form input::placeholder {
	font-family: inherit;
	color: var(--opacity-neutral-darkest-60);
}

.form label:not(:first-child) {
	margin-top: 24px;
}

.form button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 36px;
	margin: 0 auto;
	margin-top: 24px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	border-radius: 100px;
	transition:
		color var(--transition),
		border-color var(--transition),
		background-color var(--transition);
	border: 1px solid var(--color-deco);
	background-color: var(--color-deco);
}

.form button:hover {
	border-color: var(--color-deco-darker);
	background-color: var(--color-deco-dark);
}

.form button:active {
	color: #fff;
	border-color: var(--color-deco);
	background-color: var(--color-deco-darkest);
}

.form label span {
	font-size: 12px;
	color: red;
}

@media screen and (min-width: 768px) {
	.form {
		width: 480px;
	}
}
