main{
    flex:1;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

a, ul, li, ol{
    text-decoration: none;
    list-style: none
}