.links {
	display: flex;
	width: 100%;
}

.link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	width: 50%;
}

.link::after {
	position: absolute;
	content: "";
	bottom: 0;
	width: 0;
	height: 2px;
	transition: width var(--transition);
	background-color: var(--color-scheme-1-border);
}

.active::after,
.link:hover::after {
	width: 100%;
}
