.info {
	display: flex;
}

.popularGoods {
	padding: 48px 0;
}

.pagination {
	width: unset;
	transform: unset !important;
	--swiper-pagination-color: #000;
}

.container {
	position: relative;
}

.info li:last-child {
	display: flex;
	justify-content: flex-end;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	place-self: flex-end;
	width: 122px;
	height: 36px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	border-radius: 100px;
	transition:
		color var(--transition),
		border-color var(--transition),
		background-color var(--transition);
	border: 1px solid transparent;
	background-color: var(--opacity-neutral-darkest-5);
}

.button:hover {
	border-color: var(--opacity-neutral-darkest-50);
	background-color: var(--opacity-neutral-darkest-15);
}

.button:active {
	color: #fff;
	border-color: transparent;
	background-color: var(--opacity-neutral-darkest-50);
}

.navBtns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	cursor: pointer;
	border-radius: 100px;
	border: 1px solid var(--color-scheme-1-background);
	transition:
		fill var(--transition),
		border-color var(--transition),
		background-color var(--transition);
	background-color: var(--color-scheme-5-foreground);
}

.navBtn:not(:disabled):hover,
.navbtn:not(:disabled):focus {
	border-color: var(--color-deco-darker);
	background-color: var(--color-deco-dark);
}

.navBtn:not(:disabled):active {
	fill: #fff;
	border-color: var(--color-deco);
	background-color: var(--color-deco-darkest);
}

.navBtn:disabled {
	opacity: 0.3;
	cursor: default;
}

.leftBtn {
	margin-right: 16px;
}

.rightBtn svg {
	transform: rotate(180deg);
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}

@media screen and (min-width: 768px) {
	.info {
		justify-content: space-between;
		align-items: center;
	}
	.info li:last-child {
		justify-content: unset;
	}
	.leftBtn {
		margin-right: 0;
	}
	.navBtns {
		position: absolute;
		top: 50%;
		right: 0;
		justify-content: space-between;
		width: 100%;
		z-index: 99;
		transform: translate(0%, -50%);
	}
	.navigation {
		justify-content: center;
	}
}

@media screen and (min-width: 1440px) {
	.popularGoods {
		padding: 80px 0;
	}
}
