.form {
	line-height: 150%;
}

.fieldGroup {
	color: var(--color-scheme-1-text);
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.fieldGroup:not(.groupedGroups .fieldGroup) {
	margin-bottom: 24px;
}

.groupedGroups {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin-bottom: 24px;
}

.field {
	line-height: inherit;
	border: 1px solid var(--opacity-neutral-darkest-15);
	border-radius: 16px;
	padding: 8px;
	height: 40px;
	background: transparent;
	transition:
		color var(--transition),
		border-color var(--transition);
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
	margin: 0;
}

.field[type="number"] {
	appearance: textfield;
}

.field::placeholder {
	color: var(--opacity-neutral-darkest-60);
}

.field:focus {
	border-color: var(--color-scheme-1-accent);
}

.field:focus::placeholder {
	color: transparent;
}

.field:has(+ .error) {
	color: var(--color-red);
	border-color: var(--color-red);
}

.error {
	font-size: 12px;
	color: var(--color-red);
}

.button {
	font-weight: 500;
	line-height: inherit;
	color: var(--color-neutral-darkest);
	border: 1px solid var(--color-deco);
	border-radius: 100px;
	width: 100%;
	height: 36px;
	cursor: pointer;
	background: var(--color-deco);
	transition:
		border-color var(--transition),
		color var(--transition),
		background-color var(--transition);
}

.button:hover,
.button:focus {
	border-color: var(--color-deco-darker);
	background: var(--color-deco-dark);
}

.button:active {
	border-color: var(--color-deco);
	color: var(--color-white);
	background-color: var(--color-deco-darkest);
}

@media screen and (min-width: 768px) {
	.groupedGroups {
		flex-direction: row;
		column-gap: 32px;
	}
	.groupedGroups > .fieldGroup {
		width: 100%;
	}
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		padding: 6px 12px;
		width: auto;
	}
}
