.list {
	margin-top: 40px;
}

.list img {
	width: 335px;
	height: 223px;
	border-radius: 16px;
}

.list a {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-top: 24px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 36px;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	border-radius: 100px;
	transition:
		color var(--transition),
		border-color var(--transition),
		background-color var(--transition);
	border: 1px solid var(--color-deco);
	background-color: var(--color-deco);
}

.button:hover {
	border-color: var(--color-deco-darker);
	background-color: var(--color-deco-dark);
}

.button:active {
	color: #fff;
	border-color: var(--color-deco);
	background-color: var(--color-deco-darkest);
}

@media screen and (min-width: 768px) {
	.list {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
	}
	.list li {
		width: calc((100% - 32px) / 2);
	}
	.list img {
		width: 336px;
		height: 224px;
	}
	.button {
		width: 158px;
	}
}

@media screen and (min-width: 1440px) {
	.list li {
		width: calc((100% - 64px) / 3);
	}
	.list img {
		width: 416px;
		height: 277px;
	}
}
