.title{
margin:112px 0 40px 0;
font-family: Nunito Sans;
font-weight: 400;
font-style: Regular;
font-size: 48px;
line-height: 120%;
letter-spacing: -1%;

}
.pageCategories{
   max-width: 1440px;
   margin: 0 auto;
}
.container{
  max-width: 1312px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1439px) {

.pageCategories{
    max-width: 768px;
}
.container{
   max-width: 704px;

}
.title{
    margin-top: 64px;
    font-size: 36px;
}
}

@media (max-width: 767.98px) {
  .pageCategories {
      max-width: 375px
    }
  
    .container {
    max-width: 335px;
  
    }
  
}