.swiper {
	margin-top: 40px;
}

.swiper img {
	width: 335px;
	height: 223px;
	cursor: pointer;
	border-radius: 16px;
}

.swiper a {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-top: 24px;
}

@media screen and (min-width: 768px) {
	.swiper img {
		width: 336px;
		height: 224px;
	}
}

@media screen and (min-width: 1440px) {
	.swiper img {
		width: 416px;
		height: 277px;
	}
}
