.list{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 100%;
gap: 32px;
}
 .container {
max-width: 1312px;
display: flex;
flex-direction: column;
align-items: center;
margin:0 auto 24px auto;

 }
.showMoreBtn {
display: block;
width: 158px;
height: 36px;
gap: 8px;
background-color: #C5E1A5;
opacity: 1;
padding: 6px 12px;
border-radius: 100px;
border-width: 1px;
margin: 40px auto 0 auto;      
}
.containerSwipper{
position: relative;
min-height: 331px; 
}
.title{
margin-top: 24px;
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: Text Sizes/Text Large;
line-height: 150%;
letter-spacing: 0%;
}
.image{
border-radius: 15px;
}
.icons{
width: 48px;
height: 48px;
opacity: 1;
border-radius: 100px;
border-width: 1px;
padding: 12px;
background-color: #C5E1A5;
display: block;
}
.icons use {
pointer-events: none;
}
.button{
background-color: transparent;
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 5;
border: 0;
padding: 0;
cursor: pointer;
    
}
.prevButton{
left: -50;
}
.nextButton{
right: -50;
}
.image{
border-radius: 15px;
}
@media (min-width: 768px) and (max-width:1439px) {

    .image{
    width: 336px;
    height: 224px;
        }
}
@media (max-width: 767.98px) {
    .button {
    top: 300px;
    transform: none;
    
    }
    .prevButton{
        left: 220px;
    }
    .nextButton{
        right: 0;
    }
    .image{
        width: 335px;
        height: 223px;
        }
}