.info img {
	width: 335px;
	height: 335px;
	margin-top: 32px;
	border-radius: 16px;
}

.info h1 {
	font-family: var(--font-nunito-sans);
	font-weight: 400;
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

.info p {
	font-size: 18px;
	margin-top: 24px;
	line-height: 1.5;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 36px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	border-radius: 100px;
	transition:
		color var(--transition),
		border-color var(--transition),
		background-color var(--transition);
}

.goodsButton {
	margin-top: 32px;
	border: 1px solid var(--color-deco);
	background-color: var(--color-deco);
}

.goodsButton:hover {
	border-color: var(--color-deco-darker);
	background-color: var(--color-deco-dark);
}

.goodsButton:active {
	color: #fff;
	border-color: var(--color-deco);
	background-color: var(--color-deco-darkest);
}

.categoriesButton {
	margin-top: 16px;
	border: 1px solid transparent;
	background-color: var(--opacity-neutral-darkest-5);
}

.categoriesButton:hover {
	border-color: var(--opacity-neutral-darkest-50);
	background-color: var(--opacity-neutral-darkest-15);
}

.categoriesButton:active {
	color: #fff;
	border-color: transparent;
	background-color: var(--opacity-neutral-darkest-50);
}

@media screen and (min-width: 768px) {
	.info li:first-child {
		max-width: 336px;
	}
	.info {
		display: flex;
		gap: 32px;
	}
	.button {
		display: inline-flex;
	}
	.goodsButton {
		width: 110px;
	}
	.categoriesButton {
		width: 181px;
		margin-left: 16px;
		margin-top: 0;
	}
	.info img {
		width: 336px;
		height: 425px;
		margin-top: 0;
	}
}

@media screen and (min-width: 1440px) {
	.info li:first-child {
		max-width: 640px;
	}
	.info h1 {
		font-size: 56px;
	}
	.info img {
		width: 640px;
		height: 394px;
	}
}
