.section {
  padding: 64px 20px;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.hero_text,
.link_first,
.link_second {
  font-family: var(--font-inter);
}

.hero_content {
  width: 335px;
}

.hero_title {
  font-family: var(--font-nunito-sans);
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.hero_text {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.link_first,
.link_second {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px, 12px;

  width: 100%;
  min-width: 320px;
  max-width: 335px;
  border-radius: 100px;
  height: 36px;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

.link_first {
  margin-top: 32px;
  background-color: var(--color-deco);
}

.link_first:hover {
  background-color: var(--color-deco-dark);
}
.link_first:active {
  background-color: var(--color-deco-darkest);
}

.link_second {
  margin-top: 16px;
  background-color: var(--opacity-neutral-darkest-5);
}
.link_second:hover {
  background-color: var(--opacity-neutral-darkest-15);
}
.link_second:active {
  background-color: var(--opacity-neutral-darkest-50);
}

.hero_image {
  width: 100%;
  max-width: 335px;
  height: 335px;
  margin-top: 32px;
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 64px 32px;
  }

  .container {
    max-width: var(--tablet);
  }

  .hero_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .hero_title,
  .hero_text {
    width: 336px;
  }

  .link_first {
    width: 110px;
  }
  .link_second {
    width: 183px;
  }

  .hero_image {
    margin-top: 0;
    width: 336px;
    height: 474px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    padding: 112px 64px;
  }

  .container {
    max-width: var(--computer);
  }

  .hero_title,
  .hero_text {
    width: 640px;
  }

  .hero_content {
    width: 1312px;
  }

  .hero_title {
    font-size: 56px;
  }

  .link_first,
  .link_second {
    display: inline-flex;
  }

  .link_first {
    min-width: 110px;
  }

  .link_second {
    min-width: 181px;
  }
  .hero_image {
    min-width: 640px;
    height: 394px;
  }
}
