.list {
  display: flex;
  flex-wrap: wrap;
}

.item:last-child {
  margin-bottom: 40px;
}

.stars {
  display: flex;
  margin-bottom: 32px;
}
.starIcon {
  width: 24px;
  height: 24px;
  fill: var(--color-scheme-4-text);
}

.text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--color-scheme-4-text);
  margin-bottom: 32px;
}

.text::before,
.text::after {
  content: '"';
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 40px;
}
.author {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-4-text);
  margin-bottom: 4px;
}
.good {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-scheme-4-text);
}
.good:hover {
  color: #4a4a4a;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
}

.btnPrev,
.btnNext {
  border: 1px solid var(--color-scheme-1-background);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-scheme-5-foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}
.btnPrev:hover,
.btnNext:hover {
  background: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
}
.btnPrev:active,
.btnNext:active {
  background: var(--color-deco-darkest);
  border: 1px solid var(--color-deco);
}

.btnPrev:active .arrow,
.btnNext:active .arrow {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.btnPrev:disabled,
.btnNext:disabled {
  background: var(--color-deco);
  opacity: 0.4;
}

.btnPrev:disabled .arrow,
.btnNext:disabled .arrow {
  fill: var(--color-scheme-1-text);
  opacity: 0.4;
}

.arrow {
  width: 24px;
  height: 24px;
  fill: var(--color-scheme-1-text);
  stroke-width: 1px;
  stroke: var(--color-scheme-1-text);
}

.arrowRight {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .list {
    gap: 32px;
  }
  .item {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media (min-width: 1440px) {
  .item {
    flex-basis: calc((100% - 64px) / 3);
  }
}
