:root {
	--color-scheme-1-background: var(--color-deco-lightest);
	--color-neutral-darkest: #000;
	--color-scheme-1-border: var(--opacity-neutral-darkest-20);
	--color-scheme-1-text: var(--color-neutral-darkest);
	--color-neutral-lighter: #d8d8d8;
	--color-white: #fff;
	--color-neutral-lightest: #f2f2f2;
	--color-neutral-light: #b2b2b2;
	--color-neutral: #7f7f7f;
	--color-neutral-dark: #4c4c4c;
	--color-neutral-darker: #191919;
	--opacity-transparent: rgba(255, 255, 255, 0);
	--color-scheme-1-foreground: var(--color-deco-lighter);
	--color-scheme-1-accent: var(--color-deco);
	--opacity-white-5: rgba(255, 255, 255, 0.05);
	--opacity-white-10: rgba(255, 255, 255, 0.1);
	--opacity-white-15: rgba(255, 255, 255, 0.15);
	--opacity-white-20: rgba(255, 255, 255, 0.2);
	--opacity-white-30: rgba(255, 255, 255, 0.3);
	--opacity-white-40: rgba(255, 255, 255, 0.4);
	--opacity-white-50: rgba(255, 255, 255, 0.5);
	--opacity-white-60: rgba(255, 255, 255, 0.6);
	--opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
	--opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
	--opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
	--opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
	--opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
	--opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
	--opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
	--opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
	--color-deco-lightest: #f9fcf6;
	--color-deco-lighter: #f3f9ed;
	--color-deco-light: #d6eac0;
	--color-deco: #c5e1a5;
	--color-deco-dark: #9db484;
	--color-deco-darker: #4e5a42;
	--color-deco-darkest: #3b4331;
	--color-scheme-2-text: var(--color-white);
	--color-scheme-2-background: var(--color-neutral-darker);
	--color-scheme-2-border: var(--opacity-white-20);
	--color-scheme-2-accent: var(--color-deco);
	--color-scheme-2-foreground: var(--color-neutral-darkest);
	--color-scheme-3-text: var(--color-neutral-darkest);
	--color-scheme-3-background: var(--color-white);
	--color-scheme-3-border: var(--opacity-neutral-darkest-15);
	--color-scheme-3-accent: var(--color-neutral-darkest);
	--color-scheme-3-foreground: var(--color-neutral-lightest);
	--color-scheme-4-text: var(--color-neutral-darkest);
	--color-scheme-4-background: var(--color-deco-lighter);
	--color-scheme-4-border: var(--opacity-neutral-darkest-15);
	--color-scheme-4-accent: var(--color-neutral-darkest);
	--color-scheme-4-foreground: var(--color-deco-lightest);
	--color-scheme-5-text: var(--color-neutral-darkest);
	--color-scheme-5-background: var(--color-deco-light);
	--color-scheme-5-border: var(--opacity-neutral-darkest-15);
	--color-scheme-5-accent: var(--color-neutral-darkest);
	--color-scheme-5-foreground: var(--color-deco);
	--color-scheme-6-text: var(--color-neutral-darkest);
	--color-scheme-6-background: var(--color-deco);
	--color-scheme-6-border: var(--opacity-neutral-darkest-15);
	--color-scheme-6-accent: var(--color-neutral-darkest);
	--color-scheme-6-foreground: var(--color-deco-dark);
	--color-red: #9d0000;
	--cubic: cubic-bezier(0.4, 0, 0.2, 1);
	--transition: 250ms var(--cubic);
	--mobile: 320px;
	--mobile-adaptive: 375px;
	--tablet: 768px;
	--computer: 1440px;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

html,
body {
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea {
	outline: none;
	border: 0;
}

textarea {
	resize: none;
}

body {
	font-family: var(--font-inter), sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--color-scheme-4-text);
	background: var(--color-scheme-4-background);
}

.container {
	max-width: var(--mobile);
	padding: 0 20px;
	margin: 0 auto;
}

.section {
	padding: 64px 0;
}

.section h2 {
	font-family: var(--font-nunito-sans);
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
	.container {
		width: 100%;
	}
}

@media screen and (min-width: 375px) {
	.container {
		width: unset;
		max-width: var(--mobile-adaptive);
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: var(--tablet);
		padding: 0 32px;
	}
}

@media screen and (min-width: 1440px) {
	.section h2 {
		font-size: 48px;
	}
	.container {
		max-width: var(--computer);
		padding: 0 64px;
	}
	.section {
		padding: 112px 0;
	}
}
