.goodsList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 342px;
    margin-bottom: 24px;
}

.goodCard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
}

.image {
    border-radius: 16px;
}

.contentBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 236px;
}

.goodInfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.headingBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 205px;
}

.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.reviewsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 12px;
}

.reviewBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    width: 28px;
    height: 18px;
}

.stars {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
}

.comments {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
}

.price {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.goodNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 236px;
}

.quantity{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 8px;
    width: 64px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.trashBtn{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    padding: 4px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.totalBox {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 24px;
}

.goodsSum {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 0px 4px;
    width: 342px;
    height: 40px;
}

.sumTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
}

.sum {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.delivery {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    text-align: left;
}

.goodsTotalSum {
    padding: 12px 0px;
    width: 342px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0px;
}

.totalTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.totalSum {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}


@media screen and (min-width: 768px) {
    .goodsList {
        width: 448px;
    }
    
    .contentBox {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 32px;
        width: 382px;
    } 
    
    .goodInfo {
        align-items: center;
        flex-direction: row;
        gap: 9px;
    }

    .headingBox {
        width: 160px;
    }
    
    .goodNav {
        justify-content: center;
        flex-direction: row;
        gap: 8px;
        width: 112px;
        height: 40px;
    }

    .goodsSum {
        width: 488px;
    }
    
    .goodsTotalSum {
        width: 488px;
    }
}

@media screen and (min-width: 1440px) {
    .goodsList {
        width: 493px;
    }

    .contentBox {
        width: 387px;
    }
    
    .goodInfo {
        gap: 14px;
    }

    .headingBox {
        width: 160px;
    }
    
    .totalBox {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .goodsSum {
        width: 493px;
    }
    
    .goodsTotalSum {
        width: 493px;
    }
}

