.messageContainer {
	line-height: 150%;
	border-radius: 16px;
	padding: 24px 16px;
	background-color: var(--color-deco-light);
}

.messageContainer > p {
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	color: var(--color-scheme-1-text);
	margin-bottom: 16px;
}

.messageContainer > button {
	font-weight: 500;
	line-height: inherit;
	color: var(--color-neutral-darkest);
	border: 1px solid var(--color-deco);
	border-radius: 100px;
	width: 100%;
	height: 36px;
	cursor: pointer;
	background: var(--color-deco);
	transition:
		border-color var(--transition),
		color var(--transition),
		background-color var(--transition);
}

.messageContainer > button:hover,
.messageContainer > button:focus {
	border-color: var(--color-deco-darker);
	background: var(--color-deco-dark);
}

.messageContainer > button:active {
	border-color: var(--color-deco);
	color: var(--color-white);
	background-color: var(--color-deco-darkest);
}

@media screen and (min-width: 768px) {
	.messageContainer > button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		padding: 6px 12px;
		width: auto;
	}
}

@media screen and (min-width: 1440px) {
	.messageContainer {
		max-width: 753px;
	}
}