.style {
	padding: 32px 0;
}

.styles {
	margin-top: 40px;
}

.styles li:not(:first-child) {
	margin-top: 32px;
}

.styles li h3 {
	margin: 12px 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: -0.01em;
}

.styles li p {
	font-size: 16px;
	line-height: 1.5;
}

@media screen and (min-width: 768px) {
	.styles {
		display: flex;
		align-items: center;
		gap: 32px;
	}
	.styles li:not(:first-child) {
		margin-top: 0;
	}
	.styles li {
		max-width: calc((100% - 64px) / 3);
	}
}

@media screen and (min-width: 1440px) {
	.style {
		padding: 48px 0;
	}
	.style h2 {
		max-width: 768px;
	}
}