.style {
  padding: 32px 0;
}

.style_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
}

.style_list {
  margin-top: 40px;
}

.style_list li:not(:first-child) {
  margin-top: 0;
}

.style_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
  margin-top: 12px 0;
}
.style_list_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .style_list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .style_list li:not(:first-child) {
    margin-top: 0;
  }
  .style_list_item {
    max-width: calc((100% - 64px) / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .style {
    padding: 48px 0;
  }

  .title {
    min-width: 768px;
  }
}
