.cart {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	padding: 6px;
	fill: #fff;
	border-radius: 100px;
	border: 1px solid var(--color-neutral-darkest);
	background-color: var(--color-neutral-darkest);
}

.cart span {
	position: absolute;
	top: -4px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	font-size: 9px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 1;
	color: #fff;
	border-radius: 100px;
	background-color: #b70000;
}