.card {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
width: 304px;
height: 519px;
}
.imageWrapper {
border-radius: 16px;
width: 304px;
height: 375px;
padding-bottom: 16px;
}

.image{
    width: 100%;
    height: 100%;
}

.info {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
width: 304px;
height: 128px;
}

.category {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 16px;
width: 304px;
height: 72px;
}

.name {
    font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 1.5;
color: #000;
}

.price {
    font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.5;
color: #000;
}

.rating {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 12px;
width: 200px;
height: 18px;
}

.likes {
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 4px;
width: 28px;
height: 18px;
}

.starIcon {
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #000;
}

.reviews {
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 12px;

/* line-height: 18px; */ 
line-height: 1.5;
color: #000;
}

.detailsBtn{
 display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
border: 1px solid rgba(255, 255, 255, 0);
border-radius: 100px;
padding-block: 4px;
padding-inline: 10px;
width: 304px;
height: 40px;
background: rgba(0, 0, 0, 0.05);
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #000;
}