.button {
	display: flex;
	justify-content: center;
	align-items: center;
	place-self: flex-end;
	width: 122px;
	height: 36px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	border-radius: 100px;
	transition:
		color var(--transition),
		border-color var(--transition),
		background-color var(--transition);
	border: 1px solid transparent;
	background-color: var(--opacity-neutral-darkest-5);
}

.button:hover {
	border-color: var(--opacity-neutral-darkest-50);
	background-color: var(--opacity-neutral-darkest-15);
}

.button:active {
	color: #fff;
	border-color: transparent;
	background-color: var(--opacity-neutral-darkest-50);
}

.details {
	width: 100%;
	height: 40px;
	margin-top: 16px;
}
