.button {
	display: none;
	justify-content: center;
	align-items: center;
	height: 29px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	border-radius: 100px;
	transition:
		color var(--transition),
		border-color var(--transition),
		background-color var(--transition);
}

.login {
	width: 50px;
	border: 1px solid transparent;
	background-color: var(--opacity-neutral-darkest-5);
}

.profile {
	width: 81px;
	border: 1px solid transparent;
	background-color: var(--opacity-neutral-darkest-5);
}

.login:hover,
.profile:hover {
	border-color: var(--opacity-neutral-darkest-50);
	background-color: var(--opacity-neutral-darkest-15);
}

.login:active,
.profile:active {
	color: #fff;
	border-color: transparent;
	background-color: var(--opacity-neutral-darkest-50);
}

.register {
	width: 98px;
	border: 1px solid var(--color-deco);
	background-color: var(--color-deco);
}

.register:hover {
	border-color: var(--color-deco-darker);
	background-color: var(--color-deco-dark);
}

.register:active {
	color: #fff;
	border-color: var(--color-deco);
	background-color: var(--color-deco-darkest);
}

@media screen and (min-width: 768px) {
	.button {
		display: flex;
	}
}

@media screen and (min-width: 1440px) {
	.button {
		height: 32px;
		font-size: 16px;
	}
	.login {
		width: 54px;
	}
	.register {
		width: 109px;
	}
}
